ipython>=8.10
jupyterlab>=3.0
notebook
kedro~=1.0.0
kedro-datasets[pillow-imagedataset, langchain-chatopenaidataset, pypdf-pdfdataset] ~= 9.0.0
langgraph~=1.0.0
langgraph-prebuilt~=1.0.0
langchain-community~=0.4.1
langchain-core~=1.0.0
langchain-openai~=1.0.0