kedro>=1.4.0
kedro-datasets[pandas-csvdataset,pickle-pickledataset,langchain-promptdataset,chromadb-chromadbdataset,pandas-sqltabledataset]
sqlalchemy>=2.0
kedro-viz
openai>=1.0
chromadb>=0.4
networkx>=3.0
pyvis>=0.3
streamlit>=1.30
ansi2html
pandas>=2.0
numpy
ipython>=8.10
jupyterlab>=3.0
notebook
