kedro==0.19.10
kedro-datasets[pandas]==7.0.0
kedro-mlflow==0.14.4
kedro-viz==11.0.2

ipykernel
joblib==1.4.0
mlflow==2.11.2
pydantic>=2

# Avoid installing pyspark locally, since it conflicts with databricks-connect!
# see https://learn.microsoft.com/en-us/azure/databricks/dev-tools/databricks-connect/python/troubleshooting#conflicting-pyspark-installations
databricks-connect
databricks-sdk

pip
setuptools<81  # https://setuptools.pypa.io/en/latest/pkg_resources.html
