ipython>=8.10
jupyterlab>=3.0
notebook
kedro~=1.0.0
kedro-datasets[pandas-sqltabledataset,pandas-sqlquerydataset,JSONDataset,YAMLDataset]
langsmith
langgraph
langgraph-prebuilt
langchain-community<1.0
langchain-core<1.0
langchain-openai<1.0
langfuse
opik
pandas
questionary
scikit-learn
SQLAlchemy
